/* STYLE */


#start {
    margin: 0 auto;
}

#counter {
    font-size: 4rem;
}

#numbers {
    font-size: 3rem;
}

#result {
    font-size: 2rem;
}

.btn {
    margin: 0 auto;
}

#score {
    font-size: 2rem;
    font-weight: 600;

}

#found-numbers {
    font-size: 2rem;
    font-weight: 600;
}